<html>
<head>
    <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta charset="utf-8">
    <title>Allocation</title>
    {% load static %}
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <style>
        ::-webkit-input-placeholder {
            text-align: center;
        }

        th, td {
            text-align: center
        }
    </style>
</head>
<!--frontend posts a form and backend processes the form -->
<!-- look forward: it should be an enhancement of sva.org.cn, automatic uploading volunteer application info to
sva.org.cn-->
<body>
    {% if latest_activity_manager_list %}
    <ul class="list-group">
        {% for activity_manager in latest_activity_manager_list %}
        <li class="list-group-item list-group-item-secondary">
            <a href="{% url 'detail' activity_manager.id %}">{{activity_manager.name}}</a>
            <p>
                {{ activity_manager.description }}
            </p>
            <ul class="list-group">
                {% for activity in activity_manager.activity_set.all %}
                <li class="list-group-item">
                    {{activity.name}}
                </li>
                {% endfor %}
            </ul>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <p>No activity managers are available.</p>
    {% endif %}
</body>
</html>